.row {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.j-c-s-b {
    justify-content: space-between;
}
.j-c-s-a {
    justify-content: space-around;
}
.j-c-c {
    justify-content: center;
}
.a-i-c {
    align-items: center;
}